<!--<h1>
  {{title}}
</h1>-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
  </div>
</nav>

<!-- Begin Container Content -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-substitute-component></app-substitute-component>
      </div>
    </div>
  </div>
</section>
<!-- End Container Content -->

<!-- Begin Footer Content -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; 2017, Bryan Henderson (Henderstack), for Practice Velocity.</p>
  </div>
</footer>
<!-- End Footer Content -->